html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  
}

nav{
height: 180px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    margin-left: 20px;

    
}

.counter{
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.col{

    margin-left: 20px;
    margin-top: 20px;
}

.card-footer{
background-color: #343a40;
height: 350px;
margin-top: 20px;
margin-left: 10px;
}

.center { 
    justify-content: center; 
  }

  .foot{
      padding: 10px;
  }

